<head>
    <link rel="stylesheet" href="/assets/css/header.css" type="text/css">
    {{!--
    <script src="/assets/js/sidenav.js"></script> --}}
</head>

<!-- Navbar -->
<nav id="navbar-main" class="navbar navbar-horizontal navbar-transparent navbar-main navbar-expand-lg navbar-light">
    {{!-- <a href="/user/dashboard"> --}}
        <button type="button" id="back-button" class="btn bg-transparent text-white" onclick="window.history.back()">
            <i class="fas fa-arrow-left" style="font-size:medium;"></i>
            <span></span>
        </button>
        {{!-- </a> --}}
    <div class="container">
        <div class="navbar-collapse navbar-custom-collapse collapse" id="navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="navbar-brand" href="/">
                        <p style="margin-top: 10px; font-size: 20px"><i class="fas fa-camera"></i> Attendance </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        <span class="nav-link-inner--text">Home</span>
                    </a>
                </li>

                {{# if login}}
                {{# ifEquals this.session.user.who "1"}}
                <li class="nav-item">
                    <a href="/classroom/userClasses" class="nav-link">
                        <span class="nav-link-inner--text">Classes</span>
                    </a>
                </li>
                {{/ifEquals}}
                {{# ifEquals this.session.user.who "0"}}
                <li class="nav-item">
                    <a href="/user/dashboard" class="nav-link">
                        <span class="nav-link-inner--text">Dashboard</span>
                    </a>
                </li>
                {{/ifEquals}}
                {{# ifEquals this.session.user.who "1"}}
                <li class="nav-item">
                    <a href="/user/profile" class="nav-link">
                        <span class="nav-link-inner--text">Profile</span>
                    </a>
                </li>
                {{/ifEquals}}
                {{# ifEquals this.session.user.who "0"}}
                <li class="nav-item">
                    <a href="/classroom/teacher-classrooms" class="nav-link">
                        <span class="nav-link-inner--text">Classrooms</span>
                    </a>
                </li>
                {{/ifEquals}}
                <li class="nav-item">
                    <a href="/user/logout" class="nav-link">
                        <span class="nav-link-inner--text">Logout</span>
                    </a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a href="/user/login" class="nav-link">
                        <span class="nav-link-inner--text">Login</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/user/otp/student" class="nav-link">
                        <span class="nav-link-inner--text"> Student Registration</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/user/otp/teacher" class="nav-link">
                        <span class="nav-link-inner--text"> Teacher Registration</span>
                    </a>
                </li>
                {{/if}}
            </ul>
            <hr class="d-lg-none" />
        </div>
    </div>
</nav>