CMake
dlib-binary
face_recognition
numpy
pandas
xlrd==1.2.0
https://github.com/OhkuboSGMS/opencv-python-freetype2/releases/download/62/opencv_contrib_python-4.5.5.62-cp38-cp38-win_amd64.whl
steem
xlsxwriter
misaka
openpyxl
beepy
pymongo
flask
flask_cors
openpyxl
pycrypto
scikit-build
